.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #e6eaea;
  background-color: #f4f7f6;
  z-index: 302;
  transition: all .3s ease-in-out;
  &__logo {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 26px;
    line-height: normal;
    transform: translate(-50%, -50%);
    a {
      display: inline-block;
      font-family: 'VT323', monospace;
      letter-spacing: 9px;
      color: #a09f9f;
      font-size: 26px;
    }
    span {
      color: black;
    }
    h1 {
      font-size: 26px;
      font-weight: 600;
      margin: 0;
    }
  }
  &__item {
    padding: 0 23px;
    &--search {
      cursor: pointer;
      flex: 1;
      svg {
        width: 14px;
        height: 14px;
        top: -1px;
        vertical-align: middle;
      }
    }
    &--login {
      padding: 0;
      a {
        position: relative;
        display: inline-block;
        background-color: @brand-primary;
        color: white;
        text-align: center;
        overflow: hidden;
        width: 190px;
        height: 70px;
        line-height: 70px;
        transition: all .3s ease-in-out;
        &:hover {
          background-color: darken(@brand-primary, 10%);
        }
        span {
          font-family: 'Clicker Script', cursive;
          font-size: 2em;
          font-weight: 500;
          position: relative;
          z-index: 1;
        }
      }
    }
  }
  &__menu {
    float: left;
    min-width: 115px;
    height: 70px;
    border-right: 1px solid #e6eaea;
    color: #202121;
    cursor: pointer;
    overflow: hidden;
    transition: all .3s ease-in-out;
    &:hover {
      opacity: .75;
    }
    .icon {
      top: -1px;
      vertical-align: middle;
      margin-right: 10px;
      height: 13px;
      width: 15px;
    }
    & > span {
      text-transform: uppercase;
    }
  }
  &__right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
  &__search {
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 115px;
    width: calc(~"100% - 115px");
    height: 70px;
    border-bottom: 1px solid #e6eaea;
    background-color: #f4f7f6;
    font-weight: 300;
    z-index: 2;
    transition: all .3s ease-in-out;
    &.show {
      opacity: 1;
      visibility: visible;
    }
    &__left {
      display: flex;
      flex: 1;
      input {
        display: flex;
        flex: 1;
        height: 69px;
        padding: 0 20px;
        border: 0;
        background-color: transparent;
        font-size: 13px;
        text-transform: uppercase;
        line-height: normal;

      }
      & > form {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
      }
      svg {
        height: 14px;
        width: 14px;
        top: -1px;
        vertical-align: middle;
      }
    }
    &__close {
      position: relative;
      width: 66px;
      height: 70px;
      background-color: #202121;
      cursor: pointer;
      z-index: 1;
      transition: all .3s ease-in-out;
      &::after, &::before {
        background: white;
        right: 22px;
        width: 20px;
      }
    }
  }
}