@font-face {
  font-family : "Dosis";
  font-style  : normal;
  font-weight : 200;
  src         : local("Dosis ExtraLight"), local("Dosis-ExtraLight"), url("http://themes.googleusercontent.com/static/fonts/dosis/v1/zuuDDmIlQfJeEM3Uf6kkpvesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUZBw1xU1rKptJj_0jans920.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(http://fonts.gstatic.com/s/roboto/v15/vPcynSL0qHq_6dX7lKVByXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/1pO9eUAp8pSF8VnRTP3xnnYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}


@font-face {
  font-family: 'Clicker Script';
  font-style: normal;
  font-weight: 400;
  src: local('Clicker Script'), local('ClickerScript-Regular'), url(http://fonts.gstatic.com/s/clickerscript/v4/Zupmk8XwADjufGxWB9KThJsM3FTMmj2kTPH3yX99Yaw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/clickerscript/v4/Zupmk8XwADjufGxWB9KThLDH3ri20rYH10B2w3wbVeU.woff) format('woff');
}

@font-face {
  font-family : 'icomoon';
  src         : url('../fonts/icomoon.eot?-g2qgrj');
  src         : url('../fonts/icomoon.eot?#iefix-g2qgrj') format('embedded-opentype'),
  url('../fonts/icomoon.woff?-g2qgrj') format('woff'),
  url('../fonts/icomoon.ttf?-g2qgrj') format('truetype'),
  url('../fonts/icomoon.svg?-g2qgrj#icomoon') format('svg');
  font-weight : normal;
  font-style  : normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family             : 'icomoon';
  speak                   : none;
  font-style              : normal;
  font-weight             : normal;
  font-variant            : normal;
  text-transform          : none;
  line-height             : 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

.icon-angle-up:before {
  content : "\f106";
}

.icon-angle-down:before {
  content : "\f107";
}

.icon-foursquare:before {
  content : "\f180";
}

.icon-weibo:before {
  content : "\f18a";
}

.icon-user:before {
  content : "\e603";
}

.icon-screen:before {
  content : "\f108";
}

.icon-mail:before {
  content : "\e603";
}

.icon-link:before {
  content : "\f0c1";
}

.icon-search:before {
  content : "\e986";
}

.icon-paint-brush:before {
  content : "\f1fc";
}

.icon-folder-open:before {
  content : "\f115";
}

.icon-tags:before {
  content : "\e602";
}

.icon-redo:before {
  content : "\e608";
}

.icon-bubbles:before {
  content : "\e600";
}

.icon-cc:before {
  content : "\f20a";
}

.icon-plus:before {
  content : "\e60b";
}

.icon-code:before {
  content : "\f120";
}

.icon-share:before {
  content : "\e601";
}

.icon-googleplus:before {
  content : "\ea89";
}

.icon-instagram:before {
  content : "\ea90";
}

.icon-twitter:before {
  content : "\ea91";
}

.icon-flickr:before {
  content : "\eaa2";
}

.icon-th:before {
  content : "\f00a";
}

.icon-th-list:before {
  content : "\f00b";
}

.icon-inbox:before {
  content : "\f01c";
}

.icon-facebook:before {
  content : "\f09a";
}

.icon-google-plus:before {
  content : "\f0d5";
}