* {
  margin                  : 0;
  padding                 : 0;
  text-shadow             : 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-sizing         : border-box;
  -webkit-box-sizing      : border-box;
  box-sizing              : border-box;
  -webkit-font-smoothing  : subpixel-antialiased;
  -moz-osx-font-smoothing : grayscale;
  &::before,
  &::after {
    -moz-box-sizing    : border-box;
    -webkit-box-sizing : border-box;
    box-sizing         : border-box;
  }
}

svg {
  display : none;
}

.cb {
  -moz-box-sizing    : content-box;
  -webkit-box-sizing : content-box;
  -webkit-box-sizing : content-box;
}

.fading {
  opacity : 0.1 !important;
}

::selection {
  background : @brand-primary;
  color      : @white-color;
}

::-moz-selection {
  background : @brand-primary;
  color      : @white-color;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline : none;
}

body {
  background  : none repeat scroll 0 0 #eee;
  color       : #333;
  font-family : @main-font;
  font-size   : @f-small-size;
  position    : relative;
  margin      : 0 auto;
  &.header-fixed {
    padding-top : 115px;
    #menu-mobile {
      top : 0px;
    }
    #header {
      position : fixed;
      top      : -48px;
      left     : 0;
      width    : 100%;
      z-index  : 999;
    }
  }
}

a {
  color           : #333;
  cursor          : pointer;
  text-decoration : none;
}

blockquote {
  background-color : #f3e077;
  position         : relative;
  color            : #484019;
  padding          : 40px 25px 30px 60px;
  margin-bottom    : 20px;
  p {
    display : inline;
  }
  &::before {
    position              : absolute;
    content               : 'Note :';
    left                  : 0;
    top                   : 0;
    padding               : 3px 10px;
    color                 : #fafafa;
    font-size             : 15px;
    background            : rgba(0, 0, 0, 0.2);
    -webkit-border-radius : 1px 0 1px 0;
    -moz-border-radius    : 1px 0 1px 0;
    border-radius         : 1px 0 1px 0;
  }
}

pre {
  white-space : pre-wrap;
  white-space : -moz-pre-wrap;
  white-space : -pre-wrap;
  white-space : -o-pre-wrap;
  word-wrap   : break-word;
}

[class^="icon-"] {
  .transition(all .3s ease-in-out);
}

.clearfix {
  .clearfix();
}

.display-none {
  .display(none);
}

.left {
  float : left;
}

.right {
  float : right;
}

.icon-twitter:hover {
  color : #00a0d1;
}

.icon-weibo:hover {
  color : #eb182c;
}

.icon-flickr:hover {
  color : #ff0084;
}

.icon-googleplus:hover {
  color : #db4a39;
}

.icon-instagram:hover {
  color : #634d40;
}

.icon-foursquare:hover {
  color : #25a0ca;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance : button;
  cursor             : pointer;
}