/* vietnamese */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v8/hpNOqKrMYVp5zXv_aYAr7oDGDUGfDkXyfkzVDelzfFk.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v8/laIvVS86YUITp2VS5LnmsoDGDUGfDkXyfkzVDelzfFk.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v8/vB0CfoJ37mvN-Rdp92NUWaCWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family : 'Roboto';
  font-style  : normal;
  font-weight : 400;
  src         : local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
  font-family : 'Roboto';
  font-style  : normal;
  font-weight : 500;
  src         : local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUZBw1xU1rKptJj_0jans920.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family : 'Roboto';
  font-style  : italic;
  font-weight : 400;
  src         : local('Roboto Italic'), local('Roboto-Italic'), url(http://fonts.gstatic.com/s/roboto/v15/vPcynSL0qHq_6dX7lKVByXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/1pO9eUAp8pSF8VnRTP3xnnYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

@font-face {
  font-family : 'Clicker Script';
  font-style  : normal;
  font-weight : 400;
  src         : local('Clicker Script'), local('ClickerScript-Regular'), url(http://fonts.gstatic.com/s/clickerscript/v4/Zupmk8XwADjufGxWB9KThJsM3FTMmj2kTPH3yX99Yaw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/clickerscript/v4/Zupmk8XwADjufGxWB9KThLDH3ri20rYH10B2w3wbVeU.woff) format('woff');
}

@font-face {
  font-family : "fx";
  src         : url('../fonts/neteasemusic.eot');
  src         : url('../fonts/neteasemusic.eot?#iefix') format('embedded-opentype'), url('../fonts/neteasemusic.woff') format('woff'), url('../fonts/neteasemusic.ttf') format('truetype'), url('../fonts/neteasemusic.svg#fx') format('svg')
}

.icon {
  position: relative;
  display: inline-block;
  width: auto;
  height: 14px;
  fill: #202121;
  transform: translate(0,0);
  transition: all .3s ease-in-out;
}

.icon-twitter {
  //width : 0.9285703301429749em;
}